.colorMenu {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.colorMenu__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 260px;
    width: 570px;
    background-image: url(../images/colorMenu/background-orange.svg);
    padding: 35px 30px 30px 30px;
}

.colorMenu__icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.colorMenu__block--pink {
    background-image: url(../images/colorMenu/background-pink.svg);
}

.colorMenu__block--green {
    background-image: url(../images/colorMenu/background-green.svg);
}

.colorMenu__block--purple {
    background-image: url(../images/colorMenu/background-purple.svg);
}


.colorMenu__title {
    font-size: 20px;
    margin-bottom: 10px;
}

.colorMenu__text {
    font-family: var(--font-family-ProximaNova);
    font-size: 16px;
    text-align: center;
}